body {
  background-color: black;
  font-family: 'Play', sans-serif;
}

.splash, .header-title {
  font-family: 'Permanent Marker', cursive;
}

.title-splash, .gif-splash {
  display: none;
}

main {
  background-image: url(imgs/groot-img/groot___spores_by_megatruh-d7ysf32.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  max-width: 414px;
  max-height: 736px;
  margin: auto;
}

<<<<<<< HEAD
.btn {
  width: 96%;
  box-sizing: border-box;
}

.task {
  background-color: #fff;
  margin: 0px 10px 5px;
  padding: 10px;
  border-radius: 6px;
}

span.pts {
  font-style: italic;
  color: #909090;
  font-size: 0.8em;
  bottom: 1px;
  position: relative;
  margin-left: 10px;
}
=======
.h-fit-content {
  height: fit-content;
}

header {
  height: 9vh;
}

.header-logo {
  height: 9vh;
}
.level-progress{
  color:white;
  display: flex;
  flex-direction: row;
}
>>>>>>> a30dcd209fea73802390d79bcd88d4ac6e6aa510
