/*
fontes para o app
font-family: 'Play', sans-serif;
font-family: 'Permanent Marker', cursive;


*/
body {
  background-color: black;
}
main {
  background-image: url(imgs/groot-img/groot___spores_by_megatruh-d7ysf32.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  max-width: 414px;
  max-height: 736px;
  margin: auto;
}